/* ----------------------------
----------- POPUP ------------
---------------------------- */

.ct-popup-background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.8);
    display: none;
}

.ct-popup-container {
    position: relative;
}

.ct-popup-box {
    display: none;
    width: fit-content;
    width: -moz-fit-content;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 6px 12px 2px #222;
    border-radius: 3px;
    font-family: sans-serif;
    transition-property: width;
    transition-duration: 3s;
}

.ct-popup-show {
    display: block;
}

/* --- POPUP ANIMATIONS --- */

.ct-fade-popup-animation-open {
    animation-name: ct-fade-popup-animation-open;
    animation-duration: 0.15s;
}

@keyframes ct-fade-popup-animation-open {
    from { opacity: 0; }
    to { opacity: 1; }
}

.ct-fade-popup-animation-close {
    animation-name: ct-fade-popup-animation-close;
    animation-duration: 0.15s;
}

@keyframes ct-fade-popup-animation-close {
    from { opacity: 1; }
    to { opacity: 0; }
}

.ct-bubble-popup-animation-open {
    animation-name: ct-bubble-popup-animation-open;
    animation-duration: 0.15s;
}

@keyframes ct-bubble-popup-animation-open {
    0% { transform: translate(-50%, -50%) scale(0, 0); }
    50% { transform: translate(-50%, -50%) scale(1.1, 1.1); }
    100% { transform: translate(-50%, -50%) scale(1, 1); }
}

.ct-bubble-popup-animation-close {
    animation-name: ct-bubble-popup-animation-close;
    animation-duration: 0.15s;
}

@keyframes ct-bubble-popup-animation-close {
    0% { transform: translate(-50%, -50%) scale(1, 1); }
    50% { transform: translate(-50%, -50%) scale(1.1, 1.1); }
    100% { transform: translate(-50%, -50%) scale(0, 0); }
}

.ct-card-right-popup-animation-open {
    animation-name: ct-card-right-popup-animation-open;
    animation-duration: 0.15s;
}

@keyframes ct-card-right-popup-animation-open {
    from { opacity: 0; left: calc(50% + 200px); transform: translate(-50%, -50%) scale(0.8, 0.8); }
    to { opacity: 1; left: 50%; transform: translate(-50%, -50%) scale(1, 1); }
}

.ct-card-right-popup-animation-close {
    animation-name: ct-card-right-popup-animation-close;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

@keyframes ct-card-right-popup-animation-close {
    from { opacity: 1; left: 50%; transform: translate(-50%, -50%) scale(1, 1); }
    to { opacity: 0; left: calc(50% + 200px); transform: translate(-50%, -50%) scale(0.8, 0.8); }
}

.ct-card-left-popup-animation-open {
    animation-name: ct-card-left-popup-animation-open;
    animation-duration: 0.15s;
}

@keyframes ct-card-left-popup-animation-open {
    from { opacity: 0; left: calc(50% - 200px); transform: translate(-50%, -50%) scale(0.8, 0.8); }
    to { opacity: 1; left: 50%; transform: translate(-50%, -50%) scale(1, 1); }
}

.ct-card-left-popup-animation-close {
    animation-name: ct-card-left-popup-animation-close;
    animation-duration: 0.15s;
}

@keyframes ct-card-left-popup-animation-close {
    from { opacity: 1; left: 50%; transform: translate(-50%, -50%) scale(1, 1); }
    to { opacity: 0; left: calc(50% - 200px); transform: translate(-50%, -50%) scale(0.8, 0.8); }
}

/* --------------------------- */

.ct-popup-image, .ct-popup-icon {
    display: block;
    background-size: cover;
    background-position: center center;
}

.ct-popup-image {
    width: calc(100% + 4px);
    height: 120px;
    position: relative;
    left: -2px;
    top: -2px;
    box-shadow: 0px 4px 3px -3px #aaa;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ct-popup-content {
    padding: 17px 17px;
    padding-bottom: 19px;
}

.ct-popup-icon {
    margin: auto;
    margin-bottom: 8px;
    width: 28px;
    height: 28px;
}

.ct-popup-title, .ct-popup-text {
    margin: 0;
    text-align: center;
}

.ct-popup-title {
    font-weight: 600 !important;
    font-size: 19px !important;
    color: #404040 !important;
    margin-bottom: 3px !important;
}

.ct-popup-text {
    font-size: 15px !important;
    color: #606060 !important;
}

.ct-popup-text h1, .ct-popup-text h2, .ct-popup-text h3, .ct-popup-text h4, .ct-popup-text h5, .ct-popup-text h6 {
    color: #222;
}

.ct-popup-text b {
    color: #222;
    font-weight: 600;
}

.ct-popup-elements {
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
    margin: auto;
}

.ct-popup-elements * {
    float: left;
}

/* ----------------------------
---------- MOBILE -------------
---------------------------- */

@media (max-width: 500px) {
    .ct-popup-box { width: 90%; }
    .ct-box-centered { width: 90% !important; }
}